@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-0: #43E8C9;
  --color-secondary-0: oklch(0.72 0.11 178);

  --color-text-primary-0: #F6FEFC;

  --color-bg-primary-0: #02120F;
  --color-bg-secondary-0: #455451;

  --font-primary: 'Libre Franklin', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-primary);
  }
}

:root {
  --brand: oklch(0.623 0.214 259.815);
}

.dark {
  --brand: oklch(0.707 0.165 254.624);
}

@theme inline {
  --color-brand: var(--brand);
}


.pac-container {
  position: absolute;
  z-index: 999999 !important;
}